# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/
jspm_packages/
bower_components
web_modules/

# env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
*.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# build
build/Release
.next
out
.nuxt
dist
.docusaurus
.cache
.parcel-cache
.temp
**/.vitepress/dist
**/.vitepress/cache

# testing
coverage
*.lcov
.nyc_output

# cache
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# runtime
pids
*.pid
*.seed
*.pid.lock
lib-cov
.grunt
.lock-wscript
.node_repl_history
*.tgz
.yarn-integrity
.fusebox/
.dynamodb/
.tern-port
.serverless/

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# misc
.DS_Store
.vscode-test
dev.db
test.db
.vercel
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.idea/
bun.lock*